.about-people {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.about-person {
    flex: 0 0 50%;
}

.about-person-name {
    font-weight: bold;
}

.about-person-img {
    display: inline-block;
    position: relative;
    width: 50%;
}

.about-person-img:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.about-person-img img {
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header-icon {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-icon img {
    height: 100px;
}

.site-title {
    font-size: 24px;
    font-weight: 350;
}

.damas-logo-small img {
    width: 40px;
}

.footer-col-1 {
    width: calc(10% - (30px / 2));
}

.footer-col-2 {
    width: calc(35% - (30px / 2));
}
